html, body {
    min-height: 800vh;
}

.container {
    min-height: 800vh;
    display: flex;
    flex-direction: column;
}

.star {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  filter: goldenscale(100%);
}

pre {
    overflow-wrap: break-word;
    word-wrap: break-word;
    white-space: pre-wrap;
    max-width: 200px;
}
