    .services-page {
      padding: 30px;
  background-color: lightblue;
  border-radius: 10px;
  box-shadow: 2px 2px 5px gray;
  margin: 50px;
  text-align: left;
    }
    
    .services-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: 40px 0;
    }
    
    .service {
      width: 30%;
      text-align: center;
      margin: 20px;
    }
    
    .service img {
      width: 100%;
      height: 200px;
      object-fit: cover;
      border-radius: 10px;
      margin-bottom: 20px;
    }